:root {
	--color-primary: #4e8098;
	--color-secondary: #98c5d5;
	--color-tertiary: #4467e4;
}

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "VT323", monospace;
	scroll-behavior: smooth;
	text-decoration: none;
	border: none;
}
body {
	background-color: #12041f;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(182, 182, 182);
}
canvas {
	background: #12041f;
	width: 352px;
	height: 198px;
	border: 1px solid white;
}
.game-container {
	position: relative;
	width: 352px;
	height: 198px;
	margin: 0 auto;
	transform: scale(2) translateY(50%);
}

.game-container canvas {
	image-rendering: pixelated;
}
